:root {
    --border-color: rgb(219, 219, 219);
}

* {
	padding: 0;
	margin: 0;
}

hr {
    border: 1px solid var(--border-color);
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', sans-serif;
    
}

#column-i {
    width: 18%;
    height: 100%;
    background: rgb(255, 255, 255);
    border-right: 1.5px solid rgb(219, 219, 219);
}

#column-ii {
    display: flex;
    flex-direction: column;
    width: 64%;
    background: rgb(245, 245, 245);
    border-right: 1.5px solid rgb(190,190,190);
}

#column-iii {
    width: 24%;
    height: 100%;
    background: rgb(239, 239, 239);
    max-height:16%;
    overflow-y: scroll;
}

#newPostsHeader{
    background-color:white;
    border-bottom: 1.5px solid rgb(140,140,140);
    text-align:center;
    padding-top:11.5px;
    padding-bottom:10px;
}

.newPostsSection{
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
    max-height: 900px;
    border-bottom: 1.5px solid rgb(190,190,190);
}

.datePost{
    padding-top:5px;
    padding-bottom:10px;
    color: rgb(90, 90, 90);
    font-size: 10px;
}

#createPost {
    position:absolute;
    width:40%;
    height:30%;
    background-color:white;
    border-radius:10px;
    border: 1.5px solid rgb(180,180,180);
    filter: drop-shadow(10px 5px 5px rgb(208, 208, 208));
}

#createPost textarea {
    height: calc(100% - 1px);
    width: calc(100% - 1px);
}

.createPostText{
    font-weight:"bold";
    padding-left:15px;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 1.5px solid rgb(190,190,190);
}

.createPostHeader{
    padding-left:5px;
}

.newPostText{
    padding-left:10px;
}


.linkPost{
    display: flex;
    flex-direction: row;
    justify-content:left;
    width:100%;
    height:100%;
    font-size:1em;
    padding-bottom:5px;
}

.imagePost{
    display: flex;
    flex-direction: row;
    justify-content:left;
    font-size:0.8em;
    padding-bottom:5px;
}

.imagePostImage{
    width:80px;
    height:80px;
    border: 1.5px solid rgb(104, 104, 104);
    margin-left:5px;
    margin-right:5px;
}



.favicon {
    width:10%;
    height:10%;
    padding-left:0px;
}

#menu-bar {
    padding-top:7px;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    width: 100%;
    padding-bottom:8px;
    background-color: white;
    border-bottom: px solid rgb(123, 123, 123);
}

.menu-bar{
    margin-left: 60px;
    text-align:center;
    padding-top: 5px;
    padding-bottom: 5px;
    width:33%;
    background-color: white;
    border-bottom: 1.5px solid rgb(123, 123, 123);
}

#menu-bar button {
    font-size:15px;
    border-left: 0px solid var(--border-color);
    border-top: 0px solid var(--border-color);
    border-right: 0px solid var(--border-color);
}

#menu-bar button:hover {
    cursor: pointer;
    background: lightgrey;
}

.roster-user {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

#discussion-list {
    width: 100%;
    height: 100vh;
}

#roster-list {
    width: 100%;
    height: 100vh;
}

#course-thumbnail-container {
    padding-top:20px;
    padding-left:10%;
    padding-bottom:30px;
    display:flex;
    justify-content:left;
    max-width: 100%;
    height: 100px;
    background: white;
    margin-bottom: 30px;
    border-bottom: 1.5px solid rgb(177, 177, 177);
    filter: drop-shadow(0px 15px 5px rgb(224, 224, 224));
  
}

.course-name{
    padding-left:20px;
    font-weight:'bold';
}

.course-section{
    padding-left:20px;
    font-size:15px
}

.course-prof{
    padding:28px 0px 0px 20px;font-size:12px;color:rgb(140,140,140);
}




.module {
    position: relative;
  }
  .module::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(graphic-to-be-filtered.jpg);
    filter: grayscale(100%);
  }
  .module-inside {
    /* This will make it stack on top of the ::before */
    position: relative;
  }


#course-info {
    text-align:left;
    padding-bottom:120px;
    padding-top:10px;
    font-size:35px;
    border-left: 1.5px solid rgb(177, 177, 177);
    background-image:linear-gradient(to right, rgba(68, 255, 224, 0.344) , rgba(255, 255, 0, 0));
}

#course-thumbnail-container img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

#post-container {
    height: 50%;
    width: 100%;
    max-height: 40%;
    flex-direction: column;
}

.post {
    width: calc(80%);
    margin: auto;
    background: white;
    border-radius: 10px;
    border: 1.5px solid rgb(219, 219, 219); 
    margin-bottom: 30px;
}


.post-title {
    font-weight:'bold';
    width: calc(100% -10px);
    padding: 10px 0px 10px 10px;
    background-color:rgb(246, 246, 246);
    border-bottom: 1.5px solid var(--border-color);
}

.post-content {
    padding: 10px;
    height: 100px;
    text-overflow: clip;
    overflow: hidden;
}

.post-action-bar {
    color: rgb(227, 227, 227);
    width: calc(100% -10px);
    padding: 10px 0px 10px 10px;
    border-top: 1.5px solid var(--border-color);
}

#description-box {
    margin-bottom: 15px;
}

.logo {
    width:60px;
    height:60px;
    padding-top:5px;
    padding-left:5px;
    filter: grayscale(25%);
}

#settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:10px;
    padding-left:10px;
    color: rgb(0, 0, 0)
}

.courses {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 1.5px solid rgb(219, 219, 219);
    border-right: 1.5px solid rgb(219, 219, 219); 
    width: 100%;
    height: 35px;
}

.courseblock {
    width: 12%;
    height: 100%;
}

.coursetext {
    padding-top:17.5px;
    padding-left:12.5px;
    font-weight:'bold';
    width:76%;
    height:100%;
    color:rgb(82, 81, 81);
    font-size:13px;
    font-weight:lighter;
}

.coursenotify {

    text-align:center;
    width: 12%;
    padding-top:12px;
    padding-bottom:12px;
    font-family: 'Bodoni MT', sans-serif;
    font-size:11px;
    font-weight:bold;
    color:rgb(7, 58, 47);
    border: 1px solid rgb(190, 187, 187);
    background-color:rgb(233, 231, 231);
}

.bigicon {
    width:30px;
    height:30px;
}

#post-menu {
    padding-top:10px;
    color: rgb(53, 52, 52);
    padding-left:10px;
}
#post-options{
    color: rgb(98, 98, 98);
    margin-left:10px;
    padding-top:5px;
    padding-bottom:0px;
}

.postoptionsnew{
    padding-top:5px;
    padding-bottom:5px;
    margin-right:30%;
    background-color:white;
}
.postoptionslink{
    padding-top:5px;
    padding-bottom:5px;
    margin-right:30%;
    background-color:white;
}
.postoptionsimage{
    padding-top:5px;
    padding-bottom:5px;
    margin-right:30%;
    background-color:white;
}
.postoptionsfile{
    padding-top:5px;
    padding-bottom:5px;
    margin-right:30%;
    background-color:white;
}

#settings span {
    padding-left:10px;
    font-weight: bold;
}

.sidebar {
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    border-bottom: 1.5px solid rgb(219, 219, 219);
}
